@model ForgetPasswordUserVM
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_LayoutLR.cshtml";
}

<div class="row justify-content-center">
    <div class="col-10 mt-2 border border-4 p-4 rounded">
        <form method="post" asp-action="ForgetPassword">
            <h1 class="text-center text-muted mb-4" style="font-size:24px;">Forget Password</h1>
            <hr />
            <div class="mb-4">
                <label class="m-2 fs-5" asp-for="Email">Email:</label>
                <span class="text-danger"></span>
                <input type="email" class="form-control fs-5" autocomplete="on" placeholder="Please Enter Email" asp-for="Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-6 d-grid">
                    <button type="submit" class="btn btn-primary btn-block fs-5">Submit</button>
                </div>
                <div class="col-6 d-grid">
                    <a asp-action="Login" asp-controller="Account" class="btn btn-warning btn-block fs-5 text-light">Back</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
