@model ForgetPasswordUserVM
@{
    ViewData["Title"] = "Reset Password";
    // Layout = "~/Views/Shared/_LayoutLR.cshtml";
}

<div class="container">
    <a class="btn btn-outline-primary mt-2" asp-action="UserList" asp-controller="Admin">Go Back</a>

    <div class="card mt-2">
        <!-- Reduced margin-top -->
        <div class="card-header bg-primary text-white">
            <h4 class="card-title m-0">Password Reset</h4>
        </div>
        <div class="card-body p-3 center">
            <!-- Reduced padding -->
            <form asp-action="ResetPassword1" method="post">
                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="Token" />

                <div class="mb-2 position-relative">
                    <!-- Reduced margin-bottom -->
                    <label asp-for="Password" class="form-label">Password</label>
                    <div class="input-group">
                        <input type="password" id="password" class="form-control" asp-for="Password" placeholder="Enter password" />
                        <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility('password', 'eyeIconPassword')">
                            <i id="eyeIconPassword" class="bi bi-eye"></i>
                        </button>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="mb-2 position-relative">
                    <!-- Reduced margin-bottom -->
                    <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label> <!-- Corrected label text -->
                    <div class="input-group">
                        <input type="password" id="confirmPassword" class="form-control" asp-for="ConfirmPassword" placeholder="Enter confirm password" />
                        <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility('confirmPassword', 'eyeIconConfirmPassword')">
                            <i id="eyeIconConfirmPassword" class="bi bi-eye"></i>
                        </button>
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="mb-2">
                    <button type="submit" class="btn btn-primary w-100">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div> 
