@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager

<ul class="nav-item">
    @if (signInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="text-muted font-weight-bold text-black" style="color: red;">Hello @userManager.GetUserName(User)</a>
        </li>
        <li class="nav-item">
            <a asp-action="Logout" asp-controller="Account" class="nav-link text-danger" title="Logout">
                <i class="fas fa-sign-out">Logout</i>
            </a>
        </li>
    }
    else
    {

        <li class="nav-item">
            <a asp-action="Login" asp-controller="Account" class="nav-link">@Localizer["Login"]</a>
        </li>
        <li class="nav-item">
            <a asp-action="Register" asp-controller="Account" class="nav-link">@Localizer["Register"]</a>
        </li>
     @*    <select id="languageDropdown" onchange="changeLanguage()">
            <option value="?culture=ne" title="Show page in Nepali">Nepali</option>
            <option value="?culture=he" title="Show page in Hindi">Hindi</option>
            <option value="?culture=en" title="Show page in English">English</option>
        </select>

        <script>
            function changeLanguage() {
                var dropdown = document.getElementById("languageDropdown");
                var selectedValue = dropdown.options[dropdown.selectedIndex].value;
                window.location.href = selectedValue;
            }
        </script> *@
        <li class="nav-item">
            <a class="nav-link text-dark" href="?culture=ne" title="Show page in Nepali">Nepali</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="?culture=he" title="Show page in Hindi">Hindi</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="?culture=en" title="Show page in English">En</a>
        </li>
            


    }
    @await Component.InvokeAsync("Notyf")

</ul>



