<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin: 0; padding: 0; background-color: #f4f4f4;">

    <header style="background-color: #3498db; color: #ffffff; padding: 20px; text-align: center;">
        <h1 style="margin: 0;">Account Creation Confirmation</h1>
    </header>

    <section style="max-width: 600px; margin: 20px auto; padding: 30px; background-color: #ffffff; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <p>Dear <strong>{{Username}}</strong>,</p>

        <p>We're excited to inform you that your account with [Aster Innovations] has been created. Welcome!</p>

        <ul style="padding-left: 20px;">
            <li><strong>Username/Email:</strong> {{Username}}/{{Email}}</li>
            <li><strong>Password:</strong> {{Password}}</li>
        </ul>

        <p style="margin-bottom: 20px;">For security reasons, we recommend changing your password:</p>

        <ol style="padding-left: 20px;">
            <li>Login using the provided username/email.</li>
            <li>Navigate to account settings.</li>
            <li>Choose the option to change the password.</li>
            <li>Enter the temporary password and create a new one.</li>
        </ol>

        <p>Need assistance? Contact our support team at <a href="mailto:support@email.com">support@email.com</a>.</p>

        <p>Thank you for choosing [Your Company Name]. We look forward to serving you!</p>
    </section>

    <footer style="background-color: #3498db; padding: 10px; text-align: center; color: #ffffff;">
        <p>Best regards,<br>[Awadhesh Gupta]<br>[Jr Software Developer]<br>[Aster Innovations]<br>[+9779817540083]</p>
    </footer>

</body>

</html>
